rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // User profile data - can only be read/written by the owner
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Watchlist items - can only be read/written by the owner
    match /watchlists/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Nested watchlist items
      match /items/{itemId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
    // Protected from unauthorized access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}